body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: gray;
}

header {
    background-color: #8281e1;
    padding: 10px;
    text-align: center;
}

header:hover {
    background-color: whitesmoke;
    padding: 20px;
    transition: .5s;

}

header a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 18px
}

main {
    padding: 20px 150px;

}

section {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.nome-foto {
    text-align: center;
}

.nome-foto img {
    max-width: 50vw;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,1);
    border: 5px solid #8281e1
}

footer {
    background-color: #8281e1;
    padding: 10px;
    color:#fff;
    font-size: 14px;
    text-align: center;

}